$bp-xxlarge: 160em; // 2560px
$bp-desktop: 100em; //1600px
$bp-largest: 85em; //1366px
$bp-large: 65em; //1000px
$bp-medium: 47.9em; //500px
$bp-small: 31.25em; //500px


html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    position: relative;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    max-height: 100vh;
    // overflow: hidden;
    margin: 0;
    padding: 0;
    
}
#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.background{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    .background-content{
        position: relative;
        width: 100vw;
        height: 100vh;
        @media only screen and (max-width: $bp-largest){
            display: none;
        }
        .ribbonltr{
            position: absolute;
            top: -10rem;
            right: -5rem;
            height: 50vh;
        }
        .ribbonrtl{
            position: absolute;
            bottom: -10rem;
            left: -25rem;
            height: 75vh;
        }
        .piecectr{
            position: absolute;
            top: 80vh;
            left: 70%;
            opacity: 0.3;
        }
        .piecelefttop{
            position: absolute;
            top: 10vh;
            left: 25%;
        }
        .pieceleftbottom{
            position: absolute;
            top: 70vh;
            left: 10%;
        }
    }
}
main{
    // display: flex;
    // flex-direction: column;
    // position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    justify-content: center;
    min-height: 100vh;
    // max-height: 80vh;
    max-width: 50vw;
    width: 40vw;
    z-index: 2;
    @media only screen and (max-width: $bp-small){
        max-width: 90vw;
        width: 90vw;
    }

    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        // @media only screen and (max-width: $bp-small){
        margin-top: 5.5vh;
        // }
        .img{
            margin: 0 auto;
            width: 20rem;
            height: 20rem;
            @media only screen and (max-width: $bp-small){
                width: 35vw;
                height: 35vw;
            }
        }
    }
    .tag{
        max-width: 100%;
    }
    h1{
        margin-top: 8.8vh;
    }
    .center{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            margin: 0 auto;
            @media only screen and (max-width: $bp-small){
                height: 4rem;
            }
        
        }
    }
}

.site-link{
    color: white;
    display: inline-block;
    // max-width: 40%;
    // @media only screen and (max-width: $bp-largest){
    //     max-width: 100%;
    // }
    text-align: center;
    background-color: #FB1393;
    padding: 1.2rem 2.6rem;
    font-size: clamp(1.4rem, 1vw, 2.1rem);
    line-height: 2.5rem;
    margin: 3.2vh 0;
}

h1{
    font-size: clamp(5.6rem, 5vw, 13.6rem);
    line-height: clamp(5.5rem, 5vh, 12.1rem);
    margin-bottom: 7.8vh;
    // @media only screen and (max-width: $bp-){

    // }

    margin-top: unset;
    color: #FB1393;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Playfair Display', serif;
    position: relative;

    &::before{
        position: absolute;
        width: 15px;
        height: 100px;
        content: '';
        background-color: white;
        transform: rotate(45deg);
        top: -15px;
        left: -15px;
        animation-name: example;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-iteration-count: infinite;
        mix-blend-mode: overlay;
        
    }
}
@keyframes example {
    from {
        left: -15px;
    }
    to {
       left: 100%;
    }
}
.address{
    font-size: clamp(1.8rem, 2vw, 3.6rem);
    line-height: 5rem;
    color: white;
    text-align: center;
}
.footer-text{
    color: white;
    font-size: clamp(1.4, 1vw, 1.8rem);
    line-height: 2.5rem;
    padding-bottom: 3.2vh;
    text-align: center;
}